.logo-container{
  overflow: hidden;
}
.logo {
  filter: drop-shadow(#6d1eaa 20px 20px 20px);
  /* transform: translateY(-100px); */
}

.cm-editor {
  font-family: monospace;
  font-size: 14px;
  min-height: 100vh;
}

select {
  /* border-radius: 50px; */
}

option {
  background-color: #314158;
  color: whitesmoke;
  font-family: monospace;
  padding: 5px;
  border-radius: 50px;
}

option:hover {
  background-color: rgb(46, 47, 48);
  color: white;
  border-radius: 50px;

}

.remote-cursor {
  position: relative;
  border-left-width: 2px;
  border-left-style: solid;
  pointer-events: none;
}
